@import "tailwindcss";

@theme {
  --color-brand-yellow: #e38524;
  --color-brand-blue: #00adef;
  --color-brand-pink: #FF90E8; 
  --color-neo-black: #000000;
  --color-neo-white: #fdfdfd;
  
  --primary-accent: #e38524; 

  --font-display: "Space Grotesk", sans-serif;
  --font-sans: "Inter", sans-serif;

  --shadow-neo: 5px 5px 0px 0px rgba(0,0,0,1);
  --shadow-neo-sm: 3px 3px 0px 0px rgba(0,0,0,1);
  --shadow-neo-hover: 2px 2px 0px 0px rgba(0,0,0,1);

  --animate-scroll-rtl: scroll 20s linear infinite;
  
  --animate-marquee: marquee 20s linear infinite;
  
  @keyframes marquee {
    0% { transform: translateX(0); }
    100% { transform: translateX(-50%); }
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .pause-on-hover:hover .animate-marquee {
    animation-play-state: paused;
  }
}