@import "tailwindcss";

@theme {
  /* Palette*/
  --color-neo-black: #000000;
  --color-neo-white: #FFFDF5;
  --color-brand-indigo: #00ADEF;
  --color-brand-slate: #000000;
  --color-brand-amber: #E38524;

  /* fonts */
  --font-display: "Space Grotesk", sans-serif;
  --font-sans: "Inter", sans-serif;

  --shadow-neo: 6px 6px 0px 0px #000000;
  --shadow-neo-sm: 4px 4px 0px 0px #000000;
  --shadow-neo-hover: 2px 2px 0px 0px #000000;
}

/* Marquee */
@utility animate-marquee {
  animation: marquee 30s linear infinite;
}

@keyframes marquee {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

.pause-on-hover:hover {
  animation-play-state: paused;
}